/* Main card */
.custom-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Card body */
.custom-card-body {
    padding: 15px;   
    height: 720px;
}

/* Navigation tabs */
.custom-navs {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

.custom-nav-item {
    margin-right: 10px;
}

.custom-nav-link {
    text-decoration: none;
    padding: 10px 15px;
    color: #007bff;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.custom-nav-link.active,
.custom-nav-link:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

/* Tab content */
.custom-tab-content {
    display: flex;
}

.custom-tab-pane {
    display: none;
    width: 100%;
}

.custom-tab-pane.active {
    display: block;
}

/* Left and right side columns */
.left-side, .right-side {
    padding: 10px;
    height: 550px;
}

.left-side {
    flex: 1;
    margin-left: 10px;
}

.custom-card-body-right{
    height: 540px;
    padding: 15px 10px 10px 10px;
}

.scrollable-content {
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
    overflow-x: hidden;
}

.scrollable-content::-webkit-scrollbar {
    width: 8px; 
    height: 50px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.right-side {
    flex: 1;
}

/* Card item */
.col-item {
    flex: 0 0 24%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    height: 200px;
}

.custom-card-img-top {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.custom-card-body-item{
    height: 30px;
}

.custom-card-title {
    font-size: 14px;
    margin: 0;
}

.table{
    text-align: center;
    
}

.tablecontnt{
    height: 185px;
}

.quantity-value{
    
    padding: 0 10px 0 10px;
}

#add-customer-btn{
    height: 32px;
    text-align: center;
    padding-top: -10px;
}

.custom-card-body-grand{
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.custom-card-body-grand .form-group2{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    color: #000;
}
.custom-card-body-grand .form-group2 label{
    margin-top: 10px;
}
.custom-card-body-grand .form-group2 input{
    width: 150px;
    height: 35px;
    font-size: 22px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.custom-card-body-details {
    margin-top: 15px;
    padding: 10px;
}

.form-group1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form-group1 input{
    width: 250px;
    height: 25px;
}

.form-group1 select{
    height: 30px;
    width: 250px;
}
.selection{
    width: 300px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
    user-select: none;
    padding-top: 5px;
    -webkit-user-select: none;
}

.input-group-yt{
    display: flex;
    gap: 10px;
}


/* Calculator */

.modal-content{
    width: 235px;
}

.modal-header{
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

#calculator .btn-group{
    display: flex;
    gap: 10px;
}